[submodule "dependencies/cpr"]
	path = dependencies/cpr
	url = https://github.com/whoshuu/cpr
[submodule "dependencies/SimpleIni"]
	path = dependencies/SimpleIni
	url = https://github.com/FragJage/SimpleIni
[submodule "dependencies/MqttDaemon"]
	path = dependencies/MqttDaemon
	url = https://github.com/FragJage/MqttDaemon
[submodule "dependencies/SimpleLog"]
	path = dependencies/SimpleLog
	url = https://github.com/FragJage/SimpleLog
